# Ignore Mac and ipynb system files
.DS_store
*.save
*.lprof
_pycache_
.ipynb_checkpoints

# Ignore folders folders of chain runs
*-runs
*.zip

# Ignore untitled testing files
Untitled*
*test*

# Ignore figures
*.png

# Ignore old/unused files and chains
Misc_chains
Results from modified pheno ini
old_MCMC_files
bottleneck_profiler_results.txt
line_profiler
